<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="google-signin-client_id"
      content="YOUR_CLIENT_ID.apps.googleusercontent.com"
    />
    <title>Sattv Homepage</title>
    <link rel="stylesheet" href="/css/indexStyle.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <img src="/src/images/logo.png" alt="Sattv Logo" class="logo" />
      </header>
      <div class="content">
        <h1>Sattv</h1>
        <p class="tagline">
          Learn how to enhance your life experience by adhering to Nature's Laws
        </p>
      </div>
      <div id="my-signin2"></div>
      <div class="content">
        <a href="/dashboard" class="sign-in-button">Go to Dashboard</a>
      </div>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="script.js"></script>
  </body>
</html>
